@use "../modules/vars";

.decksBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: calc(100vh - var(--header-height) - 30px - (var(--space) * 2));
    position: relative;
    

    @media (max-width: 1023px) and (orientation: landscape) {
        width: auto;
        aspect-ratio: 3 / 4;
    }

    @media (min-width:550px) and (max-width: 1023px) and (orientation:portrait) {
        height: auto;
    }

    @media (min-width: 550px) and (orientation: landscape) {
        flex-direction: row;
        gap: calc(var(--space) * 2);
        width: 70%;
        height: auto;
        aspect-ratio: 4 / 3;
    }

    @media (min-width: 550px) and (min-height: 350px) and (max-height: 767px) and (orientation: landscape) {
        height: 100%;
    }

    &__footer {
        font-family: 'bankgthd', 'FranklinGothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 0.9em;
        color: #fff;
        position: absolute;
        bottom: -20px;
        left: 0;

        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.AllianceDeck,
.BorderDeck {
    width: 90%;
    height:100%;
    position: relative;

    @media(min-width: 768px) and (orientation:portrait) {
        width: 60%;
        height: auto;
        aspect-ratio: 3 / 4;

    }

    &.show {
        display: block;
    }

    &.hide {
        display: none;
        @media (min-width: 550px) and (orientation: landscape) {
            display: block;
        }
    }
    
    &__cards {
        z-index: 1;
        box-shadow: 0 0 3px rgba(0,0,0,.75), 0 0 5px rgba(0,0,0,.25);
        border-radius: var(--border-radius);
        color: #fff;
        cursor: pointer;
        font-family: 'FranklinGothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 100%;
        width: 100%;
        font-size: 1em;
        padding: var(--space);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr auto;
        gap: 1rem;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "section1"
          "section2"
          "footer";
        
        @media (min-width: 550px) and (max-height: 400px) and (orientation: landscape) {
            font-size: .7em;
        }

        &-footer {
            text-align: center;
            font-size: 1.2em;
            position: relative;
        }

        .header { grid-area: header; /*outline:1px solid red; */ }
        .opt-section-1 { grid-area: section1; /*outline:1px solid green;*/ }
        .opt-section-2 { grid-area: section2; /*outline:1px solid blue;*/ }
        &-footer { grid-area: footer; /*outline:1px solid magenta;*/ }

        // Crucero
        &.type4 {
            font-size: .9em;

            li {
                padding: .1em;
            }
        }

        // Crucero de patrulla
        &.type3 {
            font-size: 1.2em;

            li {
                padding: .3em;
            }
        }
    }

    
}

.BorderDeck {
    @media (max-width: 550px) and (orientation: landscape) {
        display: none;
    }

    @media (min-width: 1024px) and (orientation: landscape) {
        display: block;
    }
}



.header,
.opt-section {
	padding: .5rem;
    height: max-content;
    background-color: var(--color-darkgray-hud);
}

.header {
    --aug-border-all: 1px;
    --aug-border-bg: black;
    --aug-clip-tl1: initial;
    --aug-clip-tr1: initial;
    --aug-clip-bl1: initial;
    --aug-clip-br1: initial;
    --aug-tl1: 5px;
    --aug-tr1: 5px;
    --aug-bl1: 5px;
    --aug-br1: 5px;
}

.opt-section {
    position: relative;
    padding: .5rem;
    font-size: 1.1em;
    height: 100%;
    text-shadow: 0 0 3px rgba(0,0,0,.50), 0 1px 1px rgba(0,0,0,1);
   
    --aug-border-all: 1px;
    --aug-clip-tl1: initial;
    --aug-clip-tr1: initial;
    --aug-clip-bl1: initial;
    --aug-clip-br1: initial;
    --aug-tl1: 10px;
    --aug-tr1: 30px;
    --aug-bl1: 10px;
    --aug-br1: 10px;

    &__num {
        position: absolute;
        transform: rotateZ(90deg) translateY(-100%);
        right: 0;
        font-size: 1.2em;
        color: var(--color-darkblue-hud);
        text-shadow: none;
        text-transform: uppercase;
        top: calc(50% - 0.5rem);
    }
    
}

.opt {
    position: relative;
    padding-right: 2rem;
    height: 100%;
    
}


// Baraja el mazo
.shuffle-btn {
    // // position: absolute;
    // font-size: 1.1em;
    // left: 50%;
    // bottom: 20px;
    // transform: translateX(-50%);
    // width: max-content;
    // text-transform: uppercase;
    // font-weight: bold;
    // cursor: pointer;
    // border: 1px dashed white;
    // padding: .5rem;
    // border-radius: .5rem;
}


// Backside card

.AllianceDeck {
    background-color: var(--color-darkblue-hud);
    // Decoration
    &__back {
        .title {
            text-align: center;
            font-size: 2em;
        }

        background: url("/img/alliance-logo.png") no-repeat 50% 50%;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-size: 70%;
        padding: 1rem;
    }
    &__cards {
        border: 3px solid var(--color-aqua);
        box-shadow: 0 0 15px rgba(112, 199, 223,0.7);
        
        .opt-title {
            background-image: var(--alliance-gradient);
            
            // underline
            &:before {
                background-color: var(--color-borderAlliance);
            }
            
        }
    }
}

.BorderDeck {
    background-color: var(--color-darkgray-hud);
    
    &__back {
        .title {
            text-align: center;
            font-size: 2em;
        }

        background: url("/img/borderspaceback.png") no-repeat 50% 50%;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-size: 50%;
        padding: 1rem;
        filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.5));
    }

    &__cards {
        border: 3px solid var(--color-borderBorder);
        box-shadow: 0 0 15px rgb(245, 188, 73, 0.7);

        .opt-title {
            background-image: var(--border-gradient);

            // underline
                &:before {
                    background-color: var(--color-borderBorder);
                }
        }
    }
}

