.card-container {
    position: relative;
    aspect-ratio: 3 / 4;
    width: auto;
    height: calc(100vh/2 - 3rem);
    // overflow: hidden;
    border-radius: var(--border-radius);
    border: 1px solid black;
}
